services:
  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile.nginx
    ports:
      - "443:443"
    restart: always
    networks:
      - inception_network


networks:
  inception_network:
    driver: bridge
